
<div class="content-top clearfix">
  <h1 class="al-title">Lookup Template Creation</h1>
</div>

<div class="panel light-text">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="templateName" class="col-sm-3 control-label">Template Name</label>
          <div class="col-sm-9">
            <input type="hidden" ng-model="templateId">
            <input type="text" class="form-control" id="inputFirstName" placeholder="" value="" ng-model="templateName" ng-disabled=true>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
    	<div class="col-md-8">
        	<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td>#</td>
    <td>Field Name</td>
    <td>Field Type</td>
    <td>Sample Values</td>
    <!-- <td>Actions</td> -->
  </tr>
  <tr ng-repeat="data in lookupData" class="editable-row">
    <td>
        {{$index + 1}}
    </td>
    <td>
        <span editable-text="data.sysFieldName" e-name="sysFieldName" e-form="rowform" e-required>
          {{ data.sysFieldName || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="data.dataType" e-name="dataType" e-form="rowform" e-selectpicker
              e-ng-options="s.value as s.text for s in dataTypes">
          {{ showdataType(data) }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="data.sampleData" e-name="sampleData" e-form="rowform" e-required>
          {{ data.sampleData || '-' }}
        </span>
    </td>
  </tr>
</table>
    	</div>
  	  </div>
	<br>

</div>
</div>